<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="by.andersen.ex.service"/>

    <bean id="xmlBean" class="by.andersen.ex.service.MyBean" init-method="init" destroy-method="destroy" scope="singleton" >
        <property name="name" value="xmlBean"/>
        <property name="path" value="by.andersen.ex.service.MyBean"/>
     </bean>

</beans>